
  
  body{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
    color: blueviolet;
    line-height: 1.5;
}
article h2 {
    margin-top: 1.5rem;
    color: rgb(20, 20, 19);
}
aside {
  flex: 1; /* takes 1 part */
  overflow-y: auto; /* scroll if content is tall */
}
header, footer {
  background: #f0f0f0;
  padding: 1rem;
  text-align: center;
}
.logo {
    font-size: 2rem;
    margin-right: 1rem;
    color: gold;
}
header{
    text-align: left;
}